* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  overflow: hidden;
}

.main-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.app-header {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;

}

.navbar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 5px;
}

.navbar-title {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  user-select: none;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  user-select: none;
  -webkit-app-region: no-drag;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 5px;
  height: 100%;
}

.nav-button:hover {
  background-color: rgb(180, 180, 180);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  all:unset;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
  margin: 5px;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s, border-radius 0.2s;
  background-color: rgba(0, 128, 0, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.button:hover {
  background-color: green;
  transition: 0.2s;
  color: white;
}

.text-editor {
  height: 90%;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.text-editor-input {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
  resize: none;
  color: black;
  background-color: #f0f0f0;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

textarea:focus {
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid gray;
}

.attribute-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.attribute-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  margin-right: 10px;
}

.link {
  color: green;
  text-decoration: none;
  font-family: monospace;
  font-size: 13px;
}

#attribute-link:hover {
  text-decoration: underline;
}